<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>1erA HACKATON 2BRAINS</title>
		
		<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
		
		<link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css'>

		<link rel="stylesheet" href="css/style.css">

	</head>

	<body>

	<div ng-app="firebaseVotingApp">
		<div class="row marketing" ng-controller="MainCtrl">
			
			<pre>
██████╗ ██████╗ ██████╗  █████╗ ██╗███╗   ██╗███████╗
╚════██╗██╔══██╗██╔══██╗██╔══██╗██║████╗  ██║██╔════╝
 █████╔╝██████╔╝██████╔╝███████║██║██╔██╗ ██║███████╗
██╔═══╝ ██╔══██╗██╔══██╗██╔══██║██║██║╚██╗██║╚════██║
███████╗██████╔╝██║  ██║██║  ██║██║██║ ╚████║███████║
╚══════╝╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝
                                                                              
			</pre>    

			<h2>Próxima hackaton 2brains: 26 de Agosto</h2>                                                              
			<p>
				Las hackatones 2brains son instancias para conocernos y trabajar en equipo en ideas descabelladas
			</p>
			<p>
				Selecciona una idea con la que identifiques y en la cual te gustaría trabajar para la siguiente hackaton.
			</p>
			<ul class="votes-panel">
				<li class="vote-item" ng-repeat="party in candidates">
					<h4 ng-bind="party.name"></h4>
					<button ng-click="party.vote()">Vota</button>
					<span class="vote-marker" ng-repeat="v in party.votes track by $index"></span>
				</li>
			</ul>
		</div>
		<div class="row">
			<small>Auspiciado por RICAFE. Un cafe, con olor a té</small>
		</div>
	</div>

	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-resource.js'></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.1/angular-route.js'></script>
	<script src='https://cdn.firebase.com/js/client/2.2.0/firebase.js'></script>
	<script src='https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js'></script>
	<script src="js/index.js"></script>

	</body>
</html>
